<!DOCTYPE HTML>
<html>
<head>
    <title>Mainpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h2>LOGOUT</h2>
    <form action="/logout" method="POST">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
    <h2>Создать новое сообщение</h2>
    <form action="/" method="POST">
        <input type="text" name="text" placeholder="Type your message">
        <input type="text" name="tag" placeholder="Type your tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Add message</button>
    </form>
</div>
<h2>Фильтр по тегу</h2>
<form method="POST" action="/filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Find</button>
</form>
<h2>Список сообщений</h2>
{{#messages}}
    <div style="padding: 10px">
        <b>{{id}}</b>
        <span style="font-size: 20px">{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}
</body>
</html>